doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        
        title= _title_
        
        //link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='http://getbootstrap.com/dist/css/bootstrap.min.css')
        script(type="text/javascript", src="http://code.jquery.com/jquery-latest.min.js")
        block block_css
        block block_js
        
    body
        block block_body
